* {
	padding: 0;
	margin: 0;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

#at-plus-container {
	width: 25px;
	height: 25px;
	position: fixed;
	top: 65%;
	left: 45%;

	transiton: width 0.6s 0s, height 0.6s, 0s;
}



#bottom-positioner {
	position: fixed;
	left: 45%;
	top: 65%;
}

#button, #control-ring, .apb {
	position: relative;
	top: 0;
	right: 0;
}

#control-ring-container {
	position: absolute;
}

#info-bar {
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	border-radius: 50%;
	width: 0px;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	left: 0px;
	bottom: -10px;
	/*transition: visibility 0s linear 0.1s,width 0.6s ease-in-out 0s, height 0.6s ease-in-out 0s,background-color 0.6s ease-in-out 0s,left 0.6s linear 0s, bottom 0.6s linear 0s;*/
	transition: all 0.6s;
}

.info {
	visibility: visible;
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	left: 0px;
	bottom: 0px;
}

ul {
	list-style-type: none;
}

.msg {
	display: block;
}
.button {
	position: absolute;
	left: -5px;
	bottom: -20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: center;
	visibility: hidden;
	background-size: 15px 15px;
	opacity: 0;
	/*transition: visibility 0.6s linear 0s,background-color 0.6s linear 0s,left 0.6s ease-in-out 0s, bottom 0.6s ease-in-out 0s;*/
	transition: all 0.6s;
}

.mask {
	background-color: rgba(48, 63, 159, 1);
}

.history {
	background-color: rgba(48, 63, 159, 1);
}

.message {
	background-color: rgba(48, 63, 159, 1);
}

.setting {
	background-color: rgba(48, 63, 159, 1);
}

.sign {
	background-color: rgba(48, 63, 159, 1);
}

.icon {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.3);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("assets/images/atplus_white.png");
	background-size: 28px 20px;
	transform: scale(1.0,1.0);
	/*transition: background-color 0.4s ease-in-out 0.6s, background-image 0.1s ease-in-out 0.5s, background-size 0s ease-in-out 0s,transform 0.5s ease-in-out 0.5s;*/
	transition: all 0.6s;
}


.unread {
	width: 10px;
}

#at-plus-container:hover {
	width: 170px;
	height: 170px;
	position: fixed;
	top: 55%;
	left: 38%;

	transition: all 0.6s;
}

#at-plus-container:hover .icon {
	background-image: url("assets/images/atplus_green.png");
	background-size: 28px 20px;
	background-color: rgba(48, 63, 159, 1);
	transform: scale(1.2, 1.2);
	opacity: 1;
	/*transition: background-color 0.6s ease-in-out 0s, transform 0.6s ease-in-out 0s, background-image 0s ease-in-out 0.1s;*/
	transition: all 0.6s;
}

#at-plus-container:hover .mask {
	visibility: visible;
	position: absolute;
	background-color: rgba(48, 63, 159, 1);
	left: -50px;
	bottom: 5px;
	opacity: 1;
	/*transition: visibility 0.6s linear 0s,background-color 0.6s linear 0s,left 0.6s ease-in-out 0s, bottom 0.6s ease-in-out 0s;*/
	transition: all 0.6s;
}

#at-plus-container:hover .history {
	visibility: visible;
	position: absolute;
	background-color: rgba(48, 63, 159, 1);
	left: -60px;
	bottom: -25px;
	opacity: 1;
	/*transition: visibility 0.6s linear 0s,background-color 0.6s linear 0s,left 0.6s ease-in-out 0s, bottom 0.6s ease-in-out 0s;*/
	transition: all 0.6s;
}

#at-plus-container:hover .message {
	visibility: visible;
	position: absolute;
	background-color: rgba(48, 63, 159, 1);
	left: -50px;
	bottom: -55px;
	opacity: 1;
	/*transition: visibility 0.6s linear 0s,background-color 0.6s linear 0s,left 0.6s ease-in-out 0s, bottom 0.6s ease-in-out 0s;*/
	transition: all 0.6s;
}

#at-plus-container:hover .setting {
	visibility: visible;
	position: absolute;
	background-color: rgba(48, 63, 159, 1);
	left: -20px;
	bottom: -73px;
	opacity: 1;
	/*transition: visibility 0.6s linear 0s,background-color 0.6s linear 0s,left 0.6s ease-in-out 0s, bottom 0.6s ease-in-out 0s;*/
	transition: all 0.6s;
}

#at-plus-container:hover .sign {
	visibility: visible;
	position: absolute;
	background-color: rgba(48, 63, 159, 1);
	left: 16px;
	bottom: -73px;
	opacity: 1;
	/*transition: visibility 0.6s linear 0s,background-color 0.6s linear 0s,left 0.6s ease-in-out 0s, bottom 0.6s ease-in-out 0s;*/
	transition: all 0.6s;
}

#at-plus-container:hover #info-bar {
	visibility: visible;
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	left: -10px;
	bottom: 10px;
	opacity: 1;
	/*transition: visibility 0s linear 0.1s,width 0.6s ease-in-out 0s, height 0.6s ease-in-out 0s,background-color 0.6s ease-in-out 0s,left 0.6s linear 0s, bottom 0.6s linear 0s;*/
	transition: all 0.6s;
}


.info {
	text-align: center;
	vertical-align: baseline;
}

.user {
	position: absolute;
	top: 0px;
}

.comment {
	position: absolute;
	top: 25px;
	left: 35px;
	font-size: 2em;
}

.posted {
	position: absolute;
	top: 60px;
	left: 15px;
}

.like {
	position: absolute;
	top: 60px;
	left: 50px;
}

.mine {
	color: #079E6E;
}

.number {
	display: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	font-size: 0.5em;
	text-align: center;
	position: absolute;
	left: 20px;
}

.button:hover {
	background-color: rgba(48, 63, 159, 0.5);

	transition: all 0.6s; 
}

h3 {
	position: absolute;
	left: 8px;
	top: 5px;
}

h3:hover {
	cursor: pointer;
}

.disabled,
.done {
	background-color: rgba(0,0,0,0.5)!important;
}

.waiting,
.enabled {
	
}


.sum {
	display: block;
}

.order {
	display: block;
	font-size: 0.8em;
}

h2 {
	position: absolute;
	top: 10%;
	right: 1%;
	text-align: center;
}

h4 {
	position: absolute;
	top: 50%;
	right: 0.5%;
	text-align: center;

}
